body {
    background-color: #ffc6ff;
}
.teste {color: #ff0a54;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.primeiro {color: #ff0a54;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.astolfo > div {
  margin: 0 auto;
}