body {
    background-color: #ffc4d6;
}
.teste {color: #ff87ab;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.primeiro {color: #ff87ab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.astolfo > div {
  margin: 0 auto;
}