body {
    background-color: #ffc4d6;
}
.teste {color: #ff87ab;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;}
.linkin {
      background-color: #ff87ab;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
.astolfo > div {
  margin: 0 auto;
}